In [3]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [35]:
from random import choice
# connect to website
url = 'https://data.un.org/en/iso/pk.html'
headers = { "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/132.0.0.0 Safari/537.36"}
page = requests.get(url,headers = headers)

soup = BeautifulSoup(page.text, 'html')

In [36]:
if page.status_code != 200:
    print(f"Error: Status code {page.status_code}")
    print(page.content)  # Print the raw content for debugging
else:
    soup1 = BeautifulSoup(page.content, "html.parser")

In [37]:
print(soup1)
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
print("-----------------------------------------------------------")
print(soup2)

<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"/>
<title>UNData app</title>
<meta content="Mobile application includes 50+ statistical indicators for 229 countries/territories.
" name="UNData app"/>
<meta content="United Nations" name="author"/><meta content="width=device-width, initial-scale=1" name="viewport"/>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-3839409-1', 'auto');ga('send', 'pageview');</script>
<link href="../../common/css/pure.css" rel="stylesheet"/>
<link href="../../common/css/summary.css" rel="stylesheet"/>
<link href="../../common/css/popdiv.css" rel="stylesheet"/>
<link href="../../common/fixed-navigation-bar.css" rel="stylesheet"/>
<link href="../../common/css/countrynav.css" rel="stylesheet"/>
<link href="../../common/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="../../common/css/modal.css" rel="stylesheet"/>
<script> function show_none(){document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'};
   function show_block(){window.scrollTo(40, 15); document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';} </script>
<script> function goBack() { window.history.back(); } </script>
</head>
<body style="padding-top:50px;">
<nav class="fixed-nav-bar">
<table width="100%">
<colgroup><col style="width:2%"/><col style="width:8%"/><col style="width:20%"/><col style="width:60%"/><col style="width:10%"/></colgroup>
<tbody><tr>
<td style="vertical-align:middle;"></td>
<td><a href="../index.html"><i aria-hidden="true" class="fa fa-chevron-left fa-lg" style="color:#5e75ba;">  </i></a></td>
<td><img alt="PAK" class="medio" height="40vh" id="myImg" src="../../common/flags/pak_flag.png"/></td>
<td class="countrytable">Pakistan<td>
<td><a onclick="show_block()"><i aria-hidden="true" class="fa fa-list-alt fa-lg" style="color:#5e75ba;">  </i></a></td>
</td></td></tr></tbody></table></nav>
<!-- The Modal -->
<div class="modal" id="myModal">
<span class="close">×</span>
<img class="modal-content" id="img01"/>
<div id="caption"></div></div>
<div style="height: 100%; overflow:auto;  padding-left:1%; padding-right:1%; ">
<ul class="pure-menu-list">
<details>
<summary>General Information</summary>
<table class="pure-table" style="width:100%"><tbody>
<tr class="pure-table"><td>Region </td>
<td> </td>
<td align="right">Southern Asia<sup></sup></td></tr>
<tr class="pure-table"><td>Population (000, 2021)</td>
<td> </td>
<td align="right">225 200<sup>a</sup></td></tr>
<tr class="pure-table"><td>Pop. density (per km2, 2021)</td>
<td> </td>
<td align="right">292.1<sup>a</sup></td></tr>
<tr class="pure-table"><td>Capital city </td>
<td> </td>
<td align="right">Islamabad<sup></sup></td></tr>
<tr class="pure-table"><td>Capital city pop. (000, 2021)</td>
<td> </td>
<td align="right">1 095.1<sup>b</sup></td></tr>
<tr class="pure-table"><td>UN membership date </td>
<td> </td>
<td align="right">30-Sep-47<sup></sup></td></tr>
<tr class="pure-table"><td>Surface area (km2)</td>
<td> </td>
<td align="right">796 095<sup>b</sup></td></tr>
<tr class="pure-table"><td>Sex ratio (m per 100 f)</td>
<td> </td>
<td align="right">106<sup>a</sup></td></tr>
<tr class="pure-table"><td>National currency </td>
<td> </td>
<td align="right">Pakistan Rupee (PKR)<sup></sup></td></tr>
<tr class="pure-table"><td>Exchange rate (per US$)</td>
<td> </td>
<td align="right">159.6<sup>c</sup></td></tr>
</tbody></table></details>
<details>
<summary>Economic indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table-odd"><td>GDP: Gross domestic product<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>174 508</small><sup></sup></td><td style="text-align:right;"><small>267 035</small><sup></sup></td><td style="text-align:right;"><small>256 996</small><sup>b</sup></td>
<tr class="pure-table"><td>GDP growth rate<sup></sup> <small>(annual %, const. 2015 prices)</small></td><td style="text-align:right;"><small>1.6</small><sup></sup></td><td style="text-align:right;"><small>4.7</small><sup></sup></td><td style="text-align:right;"><small>3.3</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>GDP per capita<sup></sup> <small>(current US$)</small></td><td style="text-align:right;"><small>972.6</small><sup></sup></td><td style="text-align:right;"><small>1 339.0</small><sup></sup></td><td style="text-align:right;"><small>1 186.7</small><sup>b</sup></td>
<tr class="pure-table"><td>Economy: Agriculture<sup>d</sup> <small>(% of Gross Value Added)</small></td><td style="text-align:right;"><small>24.3</small><sup></sup></td><td style="text-align:right;"><small>25.1</small><sup></sup></td><td style="text-align:right;"><small>23</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Economy: Industry<sup>e,f</sup> <small>(% of Gross Value Added)</small></td><td style="text-align:right;"><small>20.6</small><sup></sup></td><td style="text-align:right;"><small>20.1</small><sup></sup></td><td style="text-align:right;"><small>20.2</small><sup>b</sup></td>
<tr class="pure-table"><td>Economy: Services and other activity<sup>g</sup> <small>(% of GVA)</small></td><td style="text-align:right;"><small>55.1</small><sup></sup></td><td style="text-align:right;"><small>54.9</small><sup></sup></td><td style="text-align:right;"><small>56.7</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Employment in agriculture<sup></sup> <small>(% of employed)</small></td><td style="text-align:right;"><small>43.4</small><sup></sup></td><td style="text-align:right;"><small>41</small><sup></sup></td><td style="text-align:right;"><small>35.9</small><sup>h,c</sup></td>
<tr class="pure-table"><td>Employment in industry<sup></sup> <small>(% of employed)</small></td><td style="text-align:right;"><small>21.4</small><sup></sup></td><td style="text-align:right;"><small>24</small><sup></sup></td><td style="text-align:right;"><small>25.8</small><sup>h,c</sup></td>
<tr class="pure-table-odd"><td>Employment in services<sup></sup> <small>(% employed)</small></td><td style="text-align:right;"><small>35.2</small><sup></sup></td><td style="text-align:right;"><small>35</small><sup></sup></td><td style="text-align:right;"><small>38.3</small><sup>h,c</sup></td>
<tr class="pure-table"><td>Unemployment<sup>h</sup> <small>(% of labour force)</small></td><td style="text-align:right;"><small>0.6</small><sup></sup></td><td style="text-align:right;"><small>3.6</small><sup></sup></td><td style="text-align:right;"><small>4.4</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Labour force participation rate<sup>h</sup> <small>(female/male pop. %)</small></td><td style="text-align:right;"><small>21.7 /       79.9</small><sup></sup></td><td style="text-align:right;"><small>23.9 /       80.8</small><sup></sup></td><td style="text-align:right;"><small>22.2 /       81.7</small><sup>c</sup></td>
<tr class="pure-table"><td>CPI: Consumer Price Index<sup></sup> <small>(2010=100)</small></td><td style="text-align:right;"><small>100</small><sup>i</sup></td><td style="text-align:right;"><small>145</small><sup></sup></td><td style="text-align:right;"><small>200</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Agricultural production index<sup></sup> <small>(2014-2016=100)</small></td><td style="text-align:right;"><small>87</small><sup></sup></td><td style="text-align:right;"><small>99</small><sup></sup></td><td style="text-align:right;"><small>118</small><sup>b</sup></td>
<tr class="pure-table"><td>International trade: exports<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>21 413</small><sup></sup></td><td style="text-align:right;"><small>22 089</small><sup></sup></td><td style="text-align:right;"><small>22 237</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>International trade: imports<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>37 537</small><sup></sup></td><td style="text-align:right;"><small>43 990</small><sup></sup></td><td style="text-align:right;"><small>45 775</small><sup>c</sup></td>
<tr class="pure-table"><td>International trade: balance<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>- 16 124</small><sup></sup></td><td style="text-align:right;"><small>- 21 901</small><sup></sup></td><td style="text-align:right;"><small>- 23 538</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Balance of payments, current account<sup></sup> <small>(million US$)</small></td><td style="text-align:right;"><small>- 1 354</small><sup></sup></td><td style="text-align:right;"><small>- 2 803</small><sup></sup></td><td style="text-align:right;"><small>245</small><sup>c</sup></td>
</tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tbody></table></details>
<details>
<summary>Social indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table"><td>Population growth rate<sup>j</sup> <small>(average annual %)</small></td><td style="text-align:right;"><small>2.3</small><sup></sup></td><td style="text-align:right;"><small>2.1</small><sup></sup></td><td style="text-align:right;"><small>2</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Urban population<sup></sup> <small>(% of total population)</small></td><td style="text-align:right;"><small>35</small><sup></sup></td><td style="text-align:right;"><small>36</small><sup></sup></td><td style="text-align:right;"><small>36.9</small><sup>b</sup></td>
<tr class="pure-table"><td>Urban population growth rate<sup>j</sup> <small>(average annual %)</small></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.7</small><sup></sup></td><td style="text-align:right;"><small>...</small><sup></sup></td>
<tr class="pure-table-odd"><td>Fertility rate, total<sup>j</sup> <small>(live births per woman)</small></td><td style="text-align:right;"><small>4.2</small><sup></sup></td><td style="text-align:right;"><small>3.8</small><sup></sup></td><td style="text-align:right;"><small>3.6</small><sup>c</sup></td>
<tr class="pure-table"><td>Life expectancy at birth<sup>j</sup> <small>(females/males, years)</small></td><td style="text-align:right;"><small>65.4 /       63.6</small><sup></sup></td><td style="text-align:right;"><small>67.0 /       65.1</small><sup></sup></td><td style="text-align:right;"><small>68.0 /       66.1</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Population age distribution<sup></sup> <small>(0-14/60+ years old, %)</small></td><td style="text-align:right;"><small>37.7 /        6.3</small><sup></sup></td><td style="text-align:right;"><small>35.9 /        6.4</small><sup></sup></td><td style="text-align:right;"><small>34.6 /        6.8</small><sup>a</sup></td>
<tr class="pure-table"><td>International migrant stock<sup>k</sup> <small>(000/% of total pop.)</small></td><td style="text-align:right;"><small>3 943.7 /        2.2</small><sup></sup></td><td style="text-align:right;"><small>3 506.5 /        1.8</small><sup></sup></td><td style="text-align:right;"><small>3 276.6 /        1.5</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Refugees and others of concern to UNHCR<sup></sup> <small>(000)</small></td><td style="text-align:right;"><small>4 151.0</small><sup>l</sup></td><td style="text-align:right;"><small>3 440.0</small><sup></sup></td><td style="text-align:right;"><small>1 535.9</small><sup>c</sup></td>
<tr class="pure-table"><td>Infant mortality rate<sup>j</sup> <small>(per 1 000 live births)</small></td><td style="text-align:right;"><small>75.6</small><sup></sup></td><td style="text-align:right;"><small>68.1</small><sup></sup></td><td style="text-align:right;"><small>61.3</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Health: Current expenditure<sup></sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.7</small><sup></sup></td><td style="text-align:right;"><small>3.2</small><sup>m</sup></td>
<tr class="pure-table"><td>Health: Physicians<sup></sup> <small>(per 1 000 pop.)</small></td><td style="text-align:right;"><small>0.8</small><sup></sup></td><td style="text-align:right;"><small>0.9</small><sup></sup></td><td style="text-align:right;"><small>1.1</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Education: Government expenditure<sup></sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>2.3</small><sup></sup></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.9</small><sup>n</sup></td>
<tr class="pure-table"><td>Education: Primary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>77.6 /       91.0</small><sup></sup></td><td style="text-align:right;"><small>78.3 /       91.4</small><sup></sup></td><td style="text-align:right;"><small>87.9 /      102.3</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Education: Secondary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>28.8 /       37.3</small><sup></sup></td><td style="text-align:right;"><small>34.9 /       44.0</small><sup></sup></td><td style="text-align:right;"><small>40.7 /       46.7</small><sup>b</sup></td>
<tr class="pure-table"><td>Education: Upper secondary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>21.8 /       29.0</small><sup></sup></td><td style="text-align:right;"><small>27.4 /       36.2</small><sup></sup></td><td style="text-align:right;"><small>31.9 /       37.5</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Intentional homicide rate<sup></sup> <small>(per 100 000 pop.)</small></td><td style="text-align:right;"><small>7.4</small><sup></sup></td><td style="text-align:right;"><small>4.8</small><sup></sup></td><td style="text-align:right;"><small>3.9</small><sup>m</sup></td>
<tr class="pure-table"><td>Seats held by women in national parliaments<sup></sup> <small>(%)</small></td><td style="text-align:right;"><small>22.2</small><sup></sup></td><td style="text-align:right;"><small>20.7</small><sup></sup></td><td style="text-align:right;"><small>20.2</small><sup>o</sup></td>
</tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tbody></table></details>
<details>
<summary>Environment and infrastructure indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax;'="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table"><td>Individuals using the Internet<sup></sup> <small>(per 100 inhabitants)</small></td><td style="text-align:right;"><small>8</small><sup>h</sup></td><td style="text-align:right;"><small>14</small><sup></sup></td><td style="text-align:right;"><small>17.1</small><sup>b</sup></td>
<tr class="pure-table-odd"><td>Research &amp; Development expenditure<sup>p,q</sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>0.4</small><sup>r</sup></td><td style="text-align:right;"><small>0.2</small><sup></sup></td><td style="text-align:right;"><small>0.2</small><sup>n</sup></td>
<tr class="pure-table"><td>Threatened species<sup></sup> <small>(number)</small></td><td style="text-align:right;"><small>109</small><sup></sup></td><td style="text-align:right;"><small>129</small><sup></sup></td><td style="text-align:right;"><small>200</small><sup></sup></td>
<tr class="pure-table-odd"><td>Forested area<sup>h</sup> <small>(% of land area)</small></td><td style="text-align:right;"><small>5.3</small><sup></sup></td><td style="text-align:right;"><small>5.1</small><sup></sup></td><td style="text-align:right;"><small>4.9</small><sup>m</sup></td>
<tr class="pure-table"><td>CO2 emission estimates<sup></sup> <small>(million tons/tons per capita)</small></td><td style="text-align:right;"><small>129.2 /        0.7</small><sup></sup></td><td style="text-align:right;"><small>150.7 /        0.8</small><sup></sup></td><td style="text-align:right;"><small>194.1 /        0.9</small><sup>m</sup></td>
<tr class="pure-table-odd"><td>Energy production, primary<sup></sup> <small>(Petajoules)</small></td><td style="text-align:right;"><small>2 040</small><sup></sup></td><td style="text-align:right;"><small>2 158</small><sup></sup></td><td style="text-align:right;"><small>2 234</small><sup>m</sup></td>
<tr class="pure-table"><td>Energy supply per capita<sup></sup> <small>(Gigajoules)</small></td><td style="text-align:right;"><small>16</small><sup></sup></td><td style="text-align:right;"><small>16</small><sup></sup></td><td style="text-align:right;"><small>21</small><sup>m</sup></td>
<tr class="pure-table-odd"><td>Tourist/visitor arrivals at national borders<sup></sup> <small>(000)</small></td><td style="text-align:right;"><small>907</small><sup></sup></td><td style="text-align:right;"><small>966</small><sup>s</sup></td><td style="text-align:right;"><small>...</small><sup></sup></td>
<tr class="pure-table"><td>Important sites for terrestrial biodiversity protected<sup></sup> <small>(%)</small></td><td style="text-align:right;"><small>34.8</small><sup></sup></td><td style="text-align:right;"><small>34.8</small><sup></sup></td><td style="text-align:right;"><small>34.8</small><sup>c</sup></td>
<tr class="pure-table-odd"><td>Pop. using safely managed drinking water<sup></sup> <small>(urban/rural, %)</small></td><td style="text-align:right;"><small>45.7 /       32.3</small><sup></sup></td><td style="text-align:right;"><small>42.2 /       32.8</small><sup></sup></td><td style="text-align:right;"><small>40.2 /       33.3</small><sup>c</sup></td>
<tr class="pure-table"><td>Net Official Development Assist. received<sup></sup> <small>(% of GNI)</small></td><td style="text-align:right;"><small>1.6</small><sup></sup></td><td style="text-align:right;"><small>1.31</small><sup></sup></td><td style="text-align:right;"><small>0.68</small><sup>b</sup></td>
</tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tr></tbody></table></details>
</ul></div>
<div class="white_content" id="light"><table width="100%"><tr><td style="font-size: 4vw;" width="90%"><b>Footnotes</b></td>
<td align="right" width="10%"><a onclick="show_none()"> <i aria-hidden="true" class="fa fa-window-close fa-lg" style="color:#5e75ba;"> </i></a></td>
</tr></table><table class="pure-table-horizontal"><tbody>
<tr><td align="center"><b>a</b></td><td>    </td><td>Projected estimate (medium fertility variant).</td></tr>
<tr><td align="center"><b>b</b></td><td>    </td><td>2019</td></tr>

As each table is under "`details`" tag. Which contains "`summary`" tag -> title and "`table`" tag-> actual data

In [38]:
#We use table wrappers
table_wrappers = soup.find_all("details")

In [39]:
print(table_wrappers)

[<details>
<summary>General Information</summary>
<table class="pure-table" style="width:100%"><tbody>
<tr class="pure-table"><td>Region </td>
<td> </td>
<td align="right">Southern Asia<sup></sup></td></tr>
<tr class="pure-table"><td>Population (000, 2021)</td>
<td> </td>
<td align="right">225 200<sup>a</sup></td></tr>
<tr class="pure-table"><td>Pop. density (per km2, 2021)</td>
<td> </td>
<td align="right">292.1<sup>a</sup></td></tr>
<tr class="pure-table"><td>Capital city </td>
<td> </td>
<td align="right">Islamabad<sup></sup></td></tr>
<tr class="pure-table"><td>Capital city pop. (000, 2021)</td>
<td> </td>
<td align="right">1 095.1<sup>b</sup></td></tr>
<tr class="pure-table"><td>UN membership date </td>
<td> </td>
<td align="right">30-Sep-47<sup></sup></td></tr>
<tr class="pure-table"><td>Surface area (km2)</td>
<td> </td>
<td align="right">796 095<sup>b</sup></td></tr>
<tr class="pure-table"><td>Sex ratio (m per 100 f)</td>
<td> </td>
<td align="right">106<sup>a</sup></td></tr>
<tr class="pure-table"><td>National currency </td>
<td> </td>
<td align="right">Pakistan Rupee (PKR)<sup></sup></td></tr>
<tr class="pure-table"><td>Exchange rate (per US$)</td>
<td> </td>
<td align="right">159.6<sup>c</sup></td></tr>
</tbody></table></details>, <details>
<summary>Economic indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table-odd"><td>GDP: Gross domestic product<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>174 508</small><sup></sup></td><td style="text-align:right;"><small>267 035</small><sup></sup></td><td style="text-align:right;"><small>256 996</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>GDP growth rate<sup></sup> <small>(annual %, const. 2015 prices)</small></td><td style="text-align:right;"><small>1.6</small><sup></sup></td><td style="text-align:right;"><small>4.7</small><sup></sup></td><td style="text-align:right;"><small>3.3</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>GDP per capita<sup></sup> <small>(current US$)</small></td><td style="text-align:right;"><small>972.6</small><sup></sup></td><td style="text-align:right;"><small>1 339.0</small><sup></sup></td><td style="text-align:right;"><small>1 186.7</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>Economy: Agriculture<sup>d</sup> <small>(% of Gross Value Added)</small></td><td style="text-align:right;"><small>24.3</small><sup></sup></td><td style="text-align:right;"><small>25.1</small><sup></sup></td><td style="text-align:right;"><small>23</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Economy: Industry<sup>e,f</sup> <small>(% of Gross Value Added)</small></td><td style="text-align:right;"><small>20.6</small><sup></sup></td><td style="text-align:right;"><small>20.1</small><sup></sup></td><td style="text-align:right;"><small>20.2</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>Economy: Services and other activity<sup>g</sup> <small>(% of GVA)</small></td><td style="text-align:right;"><small>55.1</small><sup></sup></td><td style="text-align:right;"><small>54.9</small><sup></sup></td><td style="text-align:right;"><small>56.7</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Employment in agriculture<sup></sup> <small>(% of employed)</small></td><td style="text-align:right;"><small>43.4</small><sup></sup></td><td style="text-align:right;"><small>41</small><sup></sup></td><td style="text-align:right;"><small>35.9</small><sup>h,c</sup></td>
</tr><tr class="pure-table"><td>Employment in industry<sup></sup> <small>(% of employed)</small></td><td style="text-align:right;"><small>21.4</small><sup></sup></td><td style="text-align:right;"><small>24</small><sup></sup></td><td style="text-align:right;"><small>25.8</small><sup>h,c</sup></td>
</tr><tr class="pure-table-odd"><td>Employment in services<sup></sup> <small>(% employed)</small></td><td style="text-align:right;"><small>35.2</small><sup></sup></td><td style="text-align:right;"><small>35</small><sup></sup></td><td style="text-align:right;"><small>38.3</small><sup>h,c</sup></td>
</tr><tr class="pure-table"><td>Unemployment<sup>h</sup> <small>(% of labour force)</small></td><td style="text-align:right;"><small>0.6</small><sup></sup></td><td style="text-align:right;"><small>3.6</small><sup></sup></td><td style="text-align:right;"><small>4.4</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Labour force participation rate<sup>h</sup> <small>(female/male pop. %)</small></td><td style="text-align:right;"><small>21.7 /       79.9</small><sup></sup></td><td style="text-align:right;"><small>23.9 /       80.8</small><sup></sup></td><td style="text-align:right;"><small>22.2 /       81.7</small><sup>c</sup></td>
</tr><tr class="pure-table"><td>CPI: Consumer Price Index<sup></sup> <small>(2010=100)</small></td><td style="text-align:right;"><small>100</small><sup>i</sup></td><td style="text-align:right;"><small>145</small><sup></sup></td><td style="text-align:right;"><small>200</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Agricultural production index<sup></sup> <small>(2014-2016=100)</small></td><td style="text-align:right;"><small>87</small><sup></sup></td><td style="text-align:right;"><small>99</small><sup></sup></td><td style="text-align:right;"><small>118</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>International trade: exports<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>21 413</small><sup></sup></td><td style="text-align:right;"><small>22 089</small><sup></sup></td><td style="text-align:right;"><small>22 237</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>International trade: imports<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>37 537</small><sup></sup></td><td style="text-align:right;"><small>43 990</small><sup></sup></td><td style="text-align:right;"><small>45 775</small><sup>c</sup></td>
</tr><tr class="pure-table"><td>International trade: balance<sup></sup> <small>(million current US$)</small></td><td style="text-align:right;"><small>- 16 124</small><sup></sup></td><td style="text-align:right;"><small>- 21 901</small><sup></sup></td><td style="text-align:right;"><small>- 23 538</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Balance of payments, current account<sup></sup> <small>(million US$)</small></td><td style="text-align:right;"><small>- 1 354</small><sup></sup></td><td style="text-align:right;"><small>- 2 803</small><sup></sup></td><td style="text-align:right;"><small>245</small><sup>c</sup></td>
</tr></tbody></table></details>, <details>
<summary>Social indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table"><td>Population growth rate<sup>j</sup> <small>(average annual %)</small></td><td style="text-align:right;"><small>2.3</small><sup></sup></td><td style="text-align:right;"><small>2.1</small><sup></sup></td><td style="text-align:right;"><small>2</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Urban population<sup></sup> <small>(% of total population)</small></td><td style="text-align:right;"><small>35</small><sup></sup></td><td style="text-align:right;"><small>36</small><sup></sup></td><td style="text-align:right;"><small>36.9</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>Urban population growth rate<sup>j</sup> <small>(average annual %)</small></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.7</small><sup></sup></td><td style="text-align:right;"><small>...</small><sup></sup></td>
</tr><tr class="pure-table-odd"><td>Fertility rate, total<sup>j</sup> <small>(live births per woman)</small></td><td style="text-align:right;"><small>4.2</small><sup></sup></td><td style="text-align:right;"><small>3.8</small><sup></sup></td><td style="text-align:right;"><small>3.6</small><sup>c</sup></td>
</tr><tr class="pure-table"><td>Life expectancy at birth<sup>j</sup> <small>(females/males, years)</small></td><td style="text-align:right;"><small>65.4 /       63.6</small><sup></sup></td><td style="text-align:right;"><small>67.0 /       65.1</small><sup></sup></td><td style="text-align:right;"><small>68.0 /       66.1</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Population age distribution<sup></sup> <small>(0-14/60+ years old, %)</small></td><td style="text-align:right;"><small>37.7 /        6.3</small><sup></sup></td><td style="text-align:right;"><small>35.9 /        6.4</small><sup></sup></td><td style="text-align:right;"><small>34.6 /        6.8</small><sup>a</sup></td>
</tr><tr class="pure-table"><td>International migrant stock<sup>k</sup> <small>(000/% of total pop.)</small></td><td style="text-align:right;"><small>3 943.7 /        2.2</small><sup></sup></td><td style="text-align:right;"><small>3 506.5 /        1.8</small><sup></sup></td><td style="text-align:right;"><small>3 276.6 /        1.5</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Refugees and others of concern to UNHCR<sup></sup> <small>(000)</small></td><td style="text-align:right;"><small>4 151.0</small><sup>l</sup></td><td style="text-align:right;"><small>3 440.0</small><sup></sup></td><td style="text-align:right;"><small>1 535.9</small><sup>c</sup></td>
</tr><tr class="pure-table"><td>Infant mortality rate<sup>j</sup> <small>(per 1 000 live births)</small></td><td style="text-align:right;"><small>75.6</small><sup></sup></td><td style="text-align:right;"><small>68.1</small><sup></sup></td><td style="text-align:right;"><small>61.3</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Health: Current expenditure<sup></sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.7</small><sup></sup></td><td style="text-align:right;"><small>3.2</small><sup>m</sup></td>
</tr><tr class="pure-table"><td>Health: Physicians<sup></sup> <small>(per 1 000 pop.)</small></td><td style="text-align:right;"><small>0.8</small><sup></sup></td><td style="text-align:right;"><small>0.9</small><sup></sup></td><td style="text-align:right;"><small>1.1</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Education: Government expenditure<sup></sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>2.3</small><sup></sup></td><td style="text-align:right;"><small>2.6</small><sup></sup></td><td style="text-align:right;"><small>2.9</small><sup>n</sup></td>
</tr><tr class="pure-table"><td>Education: Primary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>77.6 /       91.0</small><sup></sup></td><td style="text-align:right;"><small>78.3 /       91.4</small><sup></sup></td><td style="text-align:right;"><small>87.9 /      102.3</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Education: Secondary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>28.8 /       37.3</small><sup></sup></td><td style="text-align:right;"><small>34.9 /       44.0</small><sup></sup></td><td style="text-align:right;"><small>40.7 /       46.7</small><sup>b</sup></td>
</tr><tr class="pure-table"><td>Education: Upper secondary gross enrol. ratio<sup></sup> <small>(f/m per 100 pop.)</small></td><td style="text-align:right;"><small>21.8 /       29.0</small><sup></sup></td><td style="text-align:right;"><small>27.4 /       36.2</small><sup></sup></td><td style="text-align:right;"><small>31.9 /       37.5</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Intentional homicide rate<sup></sup> <small>(per 100 000 pop.)</small></td><td style="text-align:right;"><small>7.4</small><sup></sup></td><td style="text-align:right;"><small>4.8</small><sup></sup></td><td style="text-align:right;"><small>3.9</small><sup>m</sup></td>
</tr><tr class="pure-table"><td>Seats held by women in national parliaments<sup></sup> <small>(%)</small></td><td style="text-align:right;"><small>22.2</small><sup></sup></td><td style="text-align:right;"><small>20.7</small><sup></sup></td><td style="text-align:right;"><small>20.2</small><sup>o</sup></td>
</tr></tbody></table></details>, <details>
<summary>Environment and infrastructure indicators</summary>
<table class="pure-table" style="width:100%">
<col style="width:25%"/><col style="width:24%"/><col style="width:24%"/><col style="width:27%"/>
<thead>
<tr class="pure-table">
<td></td>
<td font-size:3.3vmax="" style="text-align:right; style=">2010</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2015</td>
<td font-size:3.3vmax="" style="text-align:right; style=">2021</td>
</tr>
</thead>
<tbody>
<tr class="pure-table"><td>Individuals using the Internet<sup></sup> <small>(per 100 inhabitants)</small></td><td style="text-align:right;"><small>8</small><sup>h</sup></td><td style="text-align:right;"><small>14</small><sup></sup></td><td style="text-align:right;"><small>17.1</small><sup>b</sup></td>
</tr><tr class="pure-table-odd"><td>Research &amp; Development expenditure<sup>p,q</sup> <small>(% of GDP)</small></td><td style="text-align:right;"><small>0.4</small><sup>r</sup></td><td style="text-align:right;"><small>0.2</small><sup></sup></td><td style="text-align:right;"><small>0.2</small><sup>n</sup></td>
</tr><tr class="pure-table"><td>Threatened species<sup></sup> <small>(number)</small></td><td style="text-align:right;"><small>109</small><sup></sup></td><td style="text-align:right;"><small>129</small><sup></sup></td><td style="text-align:right;"><small>200</small><sup></sup></td>
</tr><tr class="pure-table-odd"><td>Forested area<sup>h</sup> <small>(% of land area)</small></td><td style="text-align:right;"><small>5.3</small><sup></sup></td><td style="text-align:right;"><small>5.1</small><sup></sup></td><td style="text-align:right;"><small>4.9</small><sup>m</sup></td>
</tr><tr class="pure-table"><td>CO2 emission estimates<sup></sup> <small>(million tons/tons per capita)</small></td><td style="text-align:right;"><small>129.2 /        0.7</small><sup></sup></td><td style="text-align:right;"><small>150.7 /        0.8</small><sup></sup></td><td style="text-align:right;"><small>194.1 /        0.9</small><sup>m</sup></td>
</tr><tr class="pure-table-odd"><td>Energy production, primary<sup></sup> <small>(Petajoules)</small></td><td style="text-align:right;"><small>2 040</small><sup></sup></td><td style="text-align:right;"><small>2 158</small><sup></sup></td><td style="text-align:right;"><small>2 234</small><sup>m</sup></td>
</tr><tr class="pure-table"><td>Energy supply per capita<sup></sup> <small>(Gigajoules)</small></td><td style="text-align:right;"><small>16</small><sup></sup></td><td style="text-align:right;"><small>16</small><sup></sup></td><td style="text-align:right;"><small>21</small><sup>m</sup></td>
</tr><tr class="pure-table-odd"><td>Tourist/visitor arrivals at national borders<sup></sup> <small>(000)</small></td><td style="text-align:right;"><small>907</small><sup></sup></td><td style="text-align:right;"><small>966</small><sup>s</sup></td><td style="text-align:right;"><small>...</small><sup></sup></td>
</tr><tr class="pure-table"><td>Important sites for terrestrial biodiversity protected<sup></sup> <small>(%)</small></td><td style="text-align:right;"><small>34.8</small><sup></sup></td><td style="text-align:right;"><small>34.8</small><sup></sup></td><td style="text-align:right;"><small>34.8</small><sup>c</sup></td>
</tr><tr class="pure-table-odd"><td>Pop. using safely managed drinking water<sup></sup> <small>(urban/rural, %)</small></td><td style="text-align:right;"><small>45.7 /       32.3</small><sup></sup></td><td style="text-align:right;"><small>42.2 /       32.8</small><sup></sup></td><td style="text-align:right;"><small>40.2 /       33.3</small><sup>c</sup></td>
</tr><tr class="pure-table"><td>Net Official Development Assist. received<sup></sup> <small>(% of GNI)</small></td><td style="text-align:right;"><small>1.6</small><sup></sup></td><td style="text-align:right;"><small>1.31</small><sup></sup></td><td style="text-align:right;"><small>0.68</small><sup>b</sup></td>
</tr></tbody></table></details>]

In [51]:
import pandas as pd
title_list = []
#Loop through each table and extract title and data
for x, wrapper in enumerate(table_wrappers):
  # get title from summary
  titles = wrapper.find("summary")
  print(titles)
  table_title = titles.text.strip() if titles else f"Table_{x+1}"
  print(table_title)


  #extract table
  tables = wrapper.find_all("table")



  for y, table in enumerate(tables):
        rows = table.find_all("tr")
        table_data = []

         # Extract headers (if available)
        headers = [header.text.strip() for header in rows[0].find_all("th")] if rows[0].find_all("th") else None


        # Extract row data
        for row in rows:
            data = row.find_all("td")
            data = [cell.text.strip() for cell in data]
            if data:
                table_data.append(data)

          #create a data frame
        df = pd.DataFrame(table_data, columns=headers if headers else None)
        # Create a unique filename
        filename = f"{table_title.replace(' ', '_')}_Table_{y+1}.csv"

        # Save to CSV
        df.to_csv(filename, index=False)

<summary>General Information</summary>
General Information
<summary>Economic indicators</summary>
Economic indicators
<summary>Social indicators</summary>
Social indicators
<summary>Environment and infrastructure indicators</summary>
Environment and infrastructure indicators

In [46]:
print(df.head)

<bound method NDFrame.head of                                                     0                   1  \
0                                                                    2010
1   Individuals using the Internet (per 100 inhabi...                  8h
2    Research & Development expenditurep,q (% of GDP)                0.4r
3                         Threatened species (number)                 109
4                     Forested areah (% of land area)                 5.3
5   CO2 emission estimates (million tons/tons per ...  129.2 /        0.7
6             Energy production, primary (Petajoules)               2 040
7               Energy supply per capita (Gigajoules)                  16
8   Tourist/visitor arrivals at national borders (...                 907
9   Important sites for terrestrial biodiversity p...                34.8
10  Pop. using safely managed drinking water (urba...   45.7 /       32.3
11  Net Official Development Assist. received (% o...                 1.6

                     2                    3
0                 2015                 2021
1                   14                17.1b
2                  0.2                 0.2n
3                  129                  200
4                  5.1                 4.9m
5   150.7 /        0.8  194.1 /        0.9m
6                2 158               2 234m
7                   16                  21m
8                 966s                  ...
9                 34.8                34.8c
10   42.2 /       32.8   40.2 /       33.3c
11                1.31                0.68b  >